.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.footer {
  display: flex;
  width: 100%;
}



.shop {
  width: 100%;
  position: relative;
  min-height: 1px;
  font-size: 16px;
  line-height: 1.75;
  padding-left: 70px;
  padding-right: 8px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 15px;
  row-gap: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.sneaker {
  display: inline-block;
  width: 30%;
  margin-bottom: 10px;
  color: #fff;
  cursor: auto;
  &:hover {
    text-emphasis: none;
    text-decoration: none;
    color: #fff;
  }
}
.sneaker_img {
  width: 100%;
  cursor: pointer;
}
.sneaker_name {
  width: fit-content;
  cursor: pointer;
}
.sneaker_gender {
  color: #707072;
  width: fit-content;
  line-height: 1.2rem;
  cursor: pointer;
}
.sneaker_price {
  width: fit-content;
  font-size: medium;
  line-height: 2rem;
  cursor: pointer;
}